@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');



* {
    box-sizing: border-box;
}

body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
i{
	font-style: normal;
	padding: 0 7.5px;
}

.searchBar{
	display: flex;
	justify-content: space-between;
	padding: 15px;
	height: 70px;
	align-items: center;
	position: sticky;
	top: 0;
	background: white;
	
}

input{
	width: 500px;
	border-radius: 0px;
	height: 35px;
}
button{
	height: 35px;
}


img{
	width: 100px;
	object-fit: cover;
}


img{
	width: 100px;
	margin-left: 15px;
}
.logo{
	display: flex;
	align-items: center;
}

.icon{
	padding: 15px;
}

.mainbody{
	height: calc(100vh - 70px);
	display: flex;
	overflow: hidden;

}


.cateogries{
	width: 300px;
	height: 100vh;
	overflow-y: scroll;
}
.categoriesSection{
	display: flex;
	flex-direction: column;
	padding: 0 20px;
}
.category{
	width: 100%;
	display: flex;
	align-items: center;
	padding: 7.5px 20px;

}

.category:hover{
	background-color: #e5e5e5;
	color: red;
}

.videos{
	background-color: #f9f9f9;
	height: 100%;
	width: 100%;
	padding: 15px 25px;

}

.videosgrid{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}

.video{
	width: 300px;

}
.thumbnail{
	width: 100%;
	height: 170px;
	object-fit: cover;
	padding: 15px 25px;

}

.author{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 10px;
}
.author img{
	height: 100%;
	object-fit: cover;
	margin-left: 10px;
	width: 100%;
}
.thumbnail img{
	height: 100%;
	width: 100%;
}
.details{
	display: flex;
	padding: 10px;
	margin-left: 30px;
}
.details .text h3{
	margin: 0;
}
.details .text{
	display: flex;
	flex-direction: column;
}
a{
	color: inherit;
	text-decoration: none;
}